env
.env
.vscode
test-source/testing/
main/__pycache__
main/responses/
main/imgs/
main/.env
.gpt-key
main/source/
# main/gecko/
comapre/coco/annotations/
comapre/coco/images/
comapre/coco/code/__pycache__/
compare/coco/annotations/
compare/coco/code/__pycache__/
compare/coco/images/
compare/score-test/code/__pycache__/
test-source/webpage/static/