<!DOCTYPE html>
<html>
  <head>
    <title>img page</title>
  </head>
  <body>
    <h1>website with imgs</h1>
    <h3>page 2</h3>

    <img
      src="{{ url_for('static', filename='01234123412342134.jpg') }}"
      style="width: 300px"
    />
    <p>this is music album cover img. album name is '155347' by frxgxd</p>
    <p>it's very very happy music</p>
    <br /><br /><br />
    <!-- <div class="test">
      <img
        src="{{ url_for('static', filename='3123412341234123.jpeg') }}"
        style="width: 300px"
      />
      <p>very clear day.</p>
      <br /><br /><br />
    </div> -->
    <div class="test">
      <img
        src="{{ url_for('static', filename='Untitled.jpeg') }}"
        style="width: 300px"
      />
      <p>i'm very happy</p>
      <br /><br /><br />
    </div>
    <!-- <div class="test">
      <img
        src="{{ url_for('static', filename='R800x0-1944572191.jpeg') }}"
        style="width: 300px"
      />
      <p>this is Ancient Hangul</p>
      <br /><br /><br />
    </div> -->
    <div>
      <div>
        <img
          src="{{ url_for('static', filename='4123412341123412.jpeg') }}"
          style="width: 300px"
        />
        <p>i went to the mountain yesterday</p>
        <br /><br /><br />
      </div>
    </div>
  </body>
</html>
